/target/
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
.idea
.run

debian/files
debian/heroscribe-enhanced-skull.debhelper.log
debian/heroscribe-enhanced-skull.substvars
debian/debhelper-build-stamp
debian/heroscribe-enhanced-skull
debian/.debhelper