/target/
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
.idea

debian/files
debian/heroscribe.debhelper.log
debian/heroscribe.substvars
debian/debhelper-build-stamp
debian/heroscribe
debian/.debhelper