Source: hse
Section: java
Priority: optional
Maintainer: Andoni del olmo <andoni.delolmo@gmail.com>
Build-Depends: debhelper (>= 9), devscripts
Standards-Version: 4.3.0
Homepage: https://github.com/adelolmo/heroscribe

Package: hse
Architecture: all
Priority: optional
Section: java
Depends: ${misc:Depends}, default-jre-headless, ghostscript
Description: Easily produce typographic quality HeroQuest© maps
