#!/usr/bin/make -f

DESTDIR=debian/heroscribe-enhanced-skull
TARGETDIR=/usr/share/heroscribe-enhanced-skull
JAR=heroscribe-enhanced-skull.jar

%:
	dh $@

override_dh_strip_nondeterminism:
	true

override_dh_install:
	dh_install
	install -Dm755 src/main/assembly/heroscribe.sh $(DESTDIR)$(TARGETDIR)/heroscribe.sh
	sed -i 's|bash|sh|;s|"$$JAVA_HOME/bin/java"|/usr/bin/java|;s|$(JAR)|$(TARGETDIR)/$(JAR) $(TARGETDIR)|' $(DESTDIR)$(TARGETDIR)/heroscribe.sh
