#!/usr/bin/make -f

DESTDIR=debian/hse

%:
	dh $@

override_dh_strip_nondeterminism:
	true

override_dh_install:
	dh_install
	install -Dm755 src/main/assembly/heroscribe.sh $(DESTDIR)/usr/share/hse/heroscribe.sh
	sed -i 's|bash|sh|;s|"$$JAVA_HOME/bin/java"|/usr/bin/java|;s|heroscribe-enhanced.jar|/usr/share/hse/heroscribe-enhanced.jar|' $(DESTDIR)/usr/share/hse/heroscribe.sh
