Package: heroscribe
Version: 1.2
Architecture: all
Maintainer: Andoni del olmo <andoni.delolmo@gmail.com>
Installed-Size: 8078
Section: java
Priority: optional
Homepage: http://foo.example/
Description: Makes producing typographic quality HeroQuest© maps an easy task
 See homepage for details.
 This package repackage original compiled
 java binaries for foo and provides
 additional symlinks to /usr/bin
